@import "./taskbar.scss";

.app .desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: grid;

    grid-template-rows: 1fr auto;

    &>.work-area {
        background-color: #3A6EA5;

    }
}