@import "../global.scss";

$program-margin : 0.2rem;
$taskbar-margin: 0.15rem;

.app .desktop {
  .taskbar {
    z-index:9999;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #d4d0c8;
    border-top: 0.1rem solid #ffffff;

    & > .start {

      @include unpressed(0.1rem);

      margin: $taskbar-margin;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      & > img {
        width: 1rem;
        height: 1rem;
      }
    }

    & > .programs {

      display: flex;

      .opened-program {
        user-select: none;
        display: inline-flex;
        cursor:pointer;

        margin-left: $program-margin;
        margin-right: $program-margin;
        margin-top: $taskbar-margin;
        margin-bottom: $taskbar-margin;

        @include horizontal-padding(0.2rem);

      @include unpressed(0.1rem);
      &.active {
        @include pressed(0.1rem);
      }
        .icon-container {
          width: 1rem;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          &>img {
            width: 1rem;
            height: 1rem;
          }
          

        }

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          white-space: pre;
          word-wrap: break;
        }
      }
    }

    & > .gl-timer {
      @include pressed(0.1rem);
      margin: $taskbar-margin;
      padding: 0.2rem;

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
