.app {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: grid;
    grid-template-rows: 1fr auto;
}

.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 4.5rem);
    grid-template-rows: repeat(auto-fill, 6rem);
    grid-gap: 1rem;
    background-color: #3A6EA5;
    overflow-y: auto;
}

.desktop .icon
{
    display: flex;
    flex-direction: column;
    width: 4.5rem;
    max-width: 4.5rem;
    overflow-x:hidden;
    align-items: center;
}

.desktop .icon span
{
    text-align: center;
    width: 4.5rem;
    font-size: 1.05rem;
    max-width: 4.5rem; 
    color:white;
    text-shadow: 0px 7px 20px rgba(0,0,0,0.34);
}

.desktop .icon img, .desktop .icon .img img
{
    width: 2.5rem;
    height: 2.5rem;
}

.taskbar
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #D4D0C8;
    border-top: 0.1rem solid #FFFFFF;
}

.taskbar>.start {
    border-top: 0.1rem solid #FFFFFF;
    border-left: 0.1rem solid #FFFFFF;
    border-right: 0.1rem solid #404040;
    border-bottom: 0.1rem solid #404040;
    margin: 0.1rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
}

.taskbar>.start>.img>img {
    width: 1rem;
    height: 1rem;
}

.taskbar>.start>.img {
    width: 1rem;
    height: 1rem;
}

.taskbar>.time {
    border-top: 0.1rem solid #808080;
    border-left: 0.1rem solid #808080;
    border-bottom: 0.1rem solid #FFFFFF;
    border-right: 0.1rem solid #FFFFFF;
    margin: 0.1rem;
    padding:0.2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
}